nav{
list-style: none;
font-weight: bold;
margin-bottom: 10px;
width: 100%;
text-align: center;
}

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    text-align: center;

}

nav li a {
    display: block; 
    text-align: center;
    text-decoration-color: black;
    padding: 14px 16px; 
    text-decoration: none; 
    list-style: none;
}

nav li a:hover {
    background-color: #edd7e2;
    color: rgba(253, 5, 166, 0.688);
}


body{
    background-color: rgb(250, 250, 243);
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    color:rgb(245, 110, 121);
    text-transform: uppercase;
    margin-top: 50 px;
}

#About {
    text-align: center;
    background-color: rgb(196, 224, 234);
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.313rem;
}


#Experience ul {
    list-style: none;
}

#Experience {
    text-align: center;
    background-color: rgb(205, 235, 205);
    padding: 20 px;
    display: flexbox;
    margin-bottom: 0.938rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.313rem;
}


#Connect {
    background-color: rgb(241, 211, 221);
    text-align: center;
    display: flexbox;
    margin-bottom: 0.938rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.313rem;
}

#Connect a {
    color:blue;
}

#Connect a:hover {
    color:rgb(247, 144, 160);
    text-decoration: dotted;
}

#Projects {
    background-color: rgb(241, 221, 211);
    text-align: center;
    display: block;
    margin-bottom: 0.938rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.313rem;
}

#Skills {
    background-color: rgb(238, 211, 241);
    text-align: center;
    display: block;
    margin-bottom: 0.938rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.313rem;
}